name: Build Check Backend

on:
  pull_request:
    branches:
    - '*'

jobs:
  build:
    name: Test and Run
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.21.6'

      - name: Install Go dependencies
        run: go mod download

      - name: Install Prisma
        run: go run github.com/steebchen/prisma-client-go db push

      - name: Run Go tests
        run: go test -v ./...
        env: 
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          HTTP_PORT: 8000
      
      - name: Compile Backend
        run: |
          cd ./cmd/http
          go build main.go
